# ***2.Data Structures, Functions, Numpy & Pandas***

### Section A] DATA STRUCTURE AND CONTROL STRUCTURE

In [ ]:

#1.	Create a list of 5 integers.
# Perform and print the result of the following operations:
#append, extend, insert, remove, pop, clear, index, count, sort, and reverse.

list=[8,9,4,3,77]
a=list.append(34)
print(list)
e=list.extend([45,67])
print(list)
i=list.insert(1,23)
print(list)
r=list.remove(9)
print(list)
p=list.pop()
print(list)
c=list.count(5)
c
s=list.sort()
print(list)
sr=list.sort(reverse=True)
print(list)
ind=list.index(4)
print(ind)
list.clear()
list

In [ ]:
#2.	Create a tuple that stores 3 student names.
 #Try changing the second name in the tuple. What happens? Explain why
tuple=("Keyan","Aryan","Sita")
print(tuple)
tuple.remove("Aryan")
print(tuple)
tuple[2]="Krishna"
print(tuple)
tuple.update("Aryan","Krishna")
print(tuple)

Here none of the attribute like remove,update or changing the object through assignment cannot be executed as tuple are immutable.

In [ ]:
#3.	Create a set of integers with some duplicate values. Print the set and explain the output.
set={1,77,98,76,45,45,87,88,99,77,33,88}
print(set)

Here we see that duplicated values are  not printed as set doesnot take duplicate values.

In [ ]:
#4.	Create a dictionary with the keys: 'name', 'age', and 'city'.
 #Update the age and add a new key 'email'. Print the final dictionary.
dict={"name":("Keyan","Sidhi"),"age":(23,19),"city":("Pune","Mumbai")}
print(dict)
dict.update({"age":(22,25)})
print(dict)
dict.update({"email":("keyan@cloud.com","siddhi0@gmail.com")})
print(dict)

In [ ]:
#5.Write a script that checks if a person is eligible to vote (age ≥ 18).
#Take age as a variable and print the appropriate message.
age=int(input("Enter your age:"))
if age>=18:
  print("You are eligible to vote")
else:
  print("You are not eligible to vote")

In [ ]:
#6.	Given a 'marks' variable, print the grade:
'''
- 90 and above: 'A'
- 75–89: 'B'
- 50–74: 'C'
- Below 50: 'Fail'
'''
marks=int(input("Enter your marks: "))
if marks>=90 and marks<=100:
  print("Your grade is A")
elif marks>=75 and marks<=89:
  print("Your grade is B")
elif marks>=50 and marks<=74:
  print("Your grade is C")
elif marks<=49:
  print("You have Failed")
else:
  print("Invalid input")

In [ ]:
#7.	Given a number, check if it's positive, and if it is also even.
# If not positive, print if it's zero or negative.
number=int(input("enter a number: "))
if number>0:
  if number%2==0:
    print("Number is Positive and Even")
  else:
    print("Number is positive and odd")
elif number<0:
  print("Number is negative")
else:
  print("It is zero")

### SECTION B:NUMPY

In [ ]:
import numpy as np
#8.	Create:
'''
- A scalar using np.array(5)
- A 1D array with values 1 to 5
- A 2D array (2x3) with values from 10 to 60 in steps of 10
'''
scalar=np.array(5)
print(scalar)
d1=np.array([1,2,3,4,5])
print(d1)
d2=np.arange(10,70,10).reshape(2,3)
print(d2)

In [ ]:
#9.	Generate a 4x4 Numpy array of random integers between 0 and 100 using np.random.randint().
r=np.random.randint(0,100,size=(4,4))
print(r)

In [ ]:
#10.    Create a 2D numpy array of shape (3x3).
# Convert it into a pandas DataFrame and add column names: 'A', 'B', 'C'
import pandas as pd
r = np.random.randint(1, 10, size=(2,3, 3)) # Changed shape to 3x3
print(r)
r1=np.random.randint(1,10,size=(3,3))
r2=pd.DataFrame(r1,columns=["A","B","C"])
print(r2)

### SECTION C:EXPLORING PANDAS

In [ ]:
#11.	Create a small DataFrame manually with 10 rows and columns: 'Name', 'Age', 'City', and 'Salary'.
# Then:
'''
- Use .info(), .describe()
- Select 'Name' and 'City' columns
- Drop 'City' column
- Fill any missing values in 'Salary' column with the mean
- Remove any duplicate rows
'''
import pandas as pd
data={"Name":("leena","rushi","keyan","sita","manish","hina","dinesh","om","jinal","ketan"),
      "Age":(23,22,23,24,28,29,26,30,33,20),
      "City":("Mumbai","Mumbai","Pune","Surat","Chennai","Banglore","Banglore","Pune","Pune","Indore"),
      "Salary":(1000000,1000000,400000,800000,300000,450000,500000,650000,555000,455000)}
data1=pd.DataFrame(data)
print(data1)